.generation-form {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-grey);
  padding: 10px 5px;
}

.generation-form__options {
  margin: 0 15px 15px;
}

.generation-form__options-includes {
  margin-top: 35px;
}

.generation-form__submit {
  text-align: center;
  color: var(--black);
  background-color: var(--lime-green);
  border: 1px solid transparent;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  margin: 10px;
  padding: 15px;
}

.generation-form__submit:disabled {
  cursor: not-allowed;
  background-color: var(--grey);
}

.generation-form__submit:not(:disabled):hover {
  cursor: pointer;
  border: 1px solid var(--lime-green);
  background-color: transparent;
  color: var(--lime-green);
}

.generation-form__submit-svg {
  margin-left: 10px;
}

.generation-form__submit:not(:disabled):hover .generation-form__submit-svg {
  filter: invert(88%) sepia(20%) saturate(836%) hue-rotate(65deg) brightness(108%) contrast(101%);
}

@media (width >= 640px) {
  .generation-form {
    padding: 15px;
  }
}

@media (prefers-color-scheme: light) {
  .generation-form {
    background-color: var(--grey);
  }

  .generation-form__submit:disabled {
    color: var(--white);
    background-color: var(--dark-grey);
  }

  .generation-form__submit:disabled .generation-form__submit-svg {
    filter: brightness(0) saturate(100%) invert(77%) sepia(1%) saturate(1147%) hue-rotate(212deg) brightness(114%) contrast(107%);
  }
}
