.option {
  display: flex;
  flex-direction: row;
  margin: 22px 0;
}

.option__label {
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
}

.option:has(.option__checkbox) {
  align-items: center;
}

.option__checkbox {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  box-shadow: inset 20px 20px transparent;
  border: 2px solid var(--white);
  display: grid;
  place-content: center;
}

.option__checkbox:hover {
  border: 2px solid var(--lime-green);
}

.option__checkbox:checked {
  border: none;
}

.option__checkbox::before {
  content: "";
  width: 20px;
  height: 20px;
  box-shadow: inset 20px 20px transparent;
  display: grid;
  place-content: center;
}

.option__checkbox:checked::before {
  width: 20px;
  height: 20px;
  background-color: var(--lime-green);
  content: url('../assets/images/icon-check.svg');
  box-shadow: inset 20px 20px transparent;
  display: grid;
  place-content: center;
  transform: scale(0.75);
  padding: 12px;
}

@media (width >= 640px) {
  .option__label {
    font-size: 1.125rem;
  }

  .option__checkbox {
    margin-right: 20px;
  }
}
