.password-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dark-grey);
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 20px 15px;
}

.password-bar__input {
  cursor: text;
  border: none;
  max-width: 65%;
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 700;
  background-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

.password-bar__input::placeholder {
  font-size: 1.5rem;
  color: var(--grey);
}

.password-bar__input:focus {
  outline: none;
}

.password-bar__label--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.password-bar__button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  width: auto;
}

.password-bar__button > .password-bar__button-copyimg {
  height: 20px;
}

.password-bar__button > .password-bar__button-copyimg:hover {
  filter: brightness(0) invert(1);
}

@keyframes fade {
  0%, 100% { opacity: 0 }
  50% { opacity: 1 }
}

.password-bar__button:disabled {
  cursor: not-allowed;
}

.password-bar__button:hover {
  cursor: pointer;
}

.password-bar__button--activated::before {
  opacity: 1;
  animation: fade 3s linear;
  color: var(--lime-green);
  content: 'COPIED';
  font-weight: 700;
  margin-right: 10px;
}

@media (width >= 640px) {
  .password-bar {
    padding: 20px 30px;
  }

  .password-bar__input {
    height: 42px;
    font-size: 2rem;
    line-height: 2.64rem;
  }

  .password-bar__button > .password-bar__button-copyimg {
    height: 24px;
  }

  .password-bar__input::placeholder {
    font-size: 2rem;
  }
}

@media (prefers-color-scheme: light) {
  .password-bar {
    background-color: var(--grey);
  }

  .password-bar__input::placeholder {
    color: var(--dark-grey);
  }
}
