.slider {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 5px;
  margin-bottom: 15px;
}

.slider__charlength-value {
  color: var(--lime-green);
  font-size: 1.5rem;
  margin: 0;
}

.slider__charlength-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.slider__label--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.slider__label {
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 700;
}

.slider__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background: var(--black);
  cursor: pointer;
  height: 8px;
  position: relative;
}

.slider__input:active, .slider__input:focus {
  cursor: grabbing;
}

.slider__input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: transparent;
  height: 8px;
}

.slider__input::-moz-range-track {
  -moz-appearance: none;
  background-color: var(--black);
  height: 8px;
}

.slider__input::-moz-range-progress {
  appearance: none;
  background-color: var(--lime-green);
  height: 8px;
}

.slider__input::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  background-color: var(--white);
  border-radius: 999px;
  border: none;
  height: 20px;
  width: 20px;
}

.slider__input:hover::-moz-range-thumb {
  border: 1px solid var(--lime-green);
  background-color: var(--black);
}

.slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 999px;
  margin-top: -5px;
  background-color: var(--white);
  border: none;
  height: 20px;
  width: 20px;
}

.slider__input:hover::-webkit-slider-thumb {
  border: 1px solid var(--lime-green);
  background-color: var(--black);
}

@media (width >= 640px) {
  .slider__label {
    font-size: 1rem;
  }
}
