.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  min-width: 20.75rem;
  max-width: 21rem;
}

@media screen and (min-width: 640px) {
  .container {
    min-width: 26rem;
  }
}
