.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 18.5rem;
}

@media screen and (min-width: 640px) {
  .container {
    min-width: 28rem;
  }
}
