@import '../node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'JetBrains Mono Variable', monospace;
  src: local('JetBrains Mono Variable'), url('./assets/fonts/static/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
}

:root, :root.dark {
  font-family: 'JetBrains Mono Variable', monospace;
  font-weight: 400;

  --dark-grey: rgb(36, 35, 44);
  --grey: rgb(128, 124, 146);
  --white: rgb(230, 229, 234);
  --black: rgb(24, 23, 31);
  --lime-green: rgb(164, 255, 175);
  --red: rgb(246, 74, 74);
  --orange: rgb(251, 124, 88);
  --yellow: rgb(248, 205, 101);

  --bg-color: var(--black);
  /*color-scheme: light dark;*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button {
  font-family: inherit;
}

body {
  background-color: var(--bg-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: var(--white);
  }
}
